@import "@/assets/styles/vars";
@import "@/assets/styles/mixins";
@import "@/assets/styles/toastify-overrides";

// Class which is needed to disable links while loading anything
.disabled-link {
  pointer-events: none;
  filter: grayscale(50%);
}

// Class which is needed to set half-transparent green filter to some wrappers
.dark-red-filter-bg {
  background-color: rgba(var(--color-wrapper-bg-dark-red-filter), 0.2);
}
