@import "@/assets/styles/vars";

.Toastify__toast-container > .Toastify__toast {
  cursor: default;
  background-color: var(--color-toast-bg);
}

[data-testid="toast-content"] {
  cursor: text;
  font-family: $font-roboto;
  color: var(--color-text);
  text-align: center;
  word-break: break-word;
}

.Toastify__toast > .Toastify__close-button {
  color: var(--color-text);
}
